DB_URL=jdbc:mysql://interchange.proxy.rlwy.net:16458/railway?useSSL=true&requireSSL=true&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=RIxCjfCpIWwRRYuWBNeZzKJRDbKJczVO
MYSQLHOST=interchange.proxy.rlwy.net
MYSQLPORT=16458
MYSQLDATABASE=railway
MYSQLUSER=root
MYSQLPASSWORD=RIxCjfCpIWwRRYuWBNeZzKJRDbKJczVO
JWT_SECRET=replace-with-your-own-long-secret
JWT_EXPIRATION_MS=604800000
UPLOAD_DIR=uploads
